body, html{
    background-image: url("blue.jpg");
    background-size: cover;
}


/*Hamburger menu style*/
.menu {
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0.11);
    position: relative;
}

/*hidden Links*/
.menu #links {
    display: none;
}

/*styling links*/
.menu a {
    color: rgb(0, 12, 0);
    font-weight: bolder;
    padding: 14px 85em;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.menu a:hover {
    background-color: rgba(1, 106, 243, 0.082);
    color: rgb(11, 223, 57);
}

