*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  background-image: url(/img/draw.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  color: aqua;
  
  }

/*Style the Nav.*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.473);
  background-color: rgba(0, 0, 0, 0.37);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #00ccff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #e20000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

input[type=text], [type=email], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  color: black;
  
}


input[type=submit] {
  background-color: #04aa6d67;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}



input[type=submit]:hover {
  background-color:teal;
}


#containerC {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.397);
  background-color: #0801014f;
  padding: 50px;
  align-items: center;
  display: none;
}

#map
{
  height: 300px;
  width: 100%;
}
form
{
  align-items: center;
}
#Contact
{
  font-weight: bolder;
  text-align: center;
  font-size: 60px;
  color: #ffff;
  margin: 0;
}
.underline
{
    width: 300px;
    height: 3px;
    background: rgb(0, 255, 255);
    margin: 0 auto 60px auto;
}


